.register{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form{
    &_title{
        padding-bottom: 7%;
        text-align: center;
    }
}

#register_form{
    text-align: center;
}